---
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 8
Standard: Cpp03
TabWidth: 8
UseTab: Always
...
