---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -4
UseTab: Never
IndentWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
...

